{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=n0, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>
<body>
    <h1 class="page-name">{% block page-name %}{% endblock %}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        {% block button %}{% endblock %}
    </form>
    <p class="error-message">{{ error_message }}</p>
    {% block content %}{% endblock %}
</body>
</html>